@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
@Html.ActionLink("User Home", "Index", "UserHome", new { area = "Users" }, null)
@Html.ActionLink("Test", "Test", "UserHome", new { area = "Users" }, null)
@Html.ActionLink("Chnxo", "ChnxoTest", "UserHome", new { area = "Users" }, null)