@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Users/Views/Shared/_LayoutUsers.cshtml";
}
@Styles.Render("~/Content/HomeUser.css")
<div class="container-narrow">
    <div class="jumbotron">
        <h1>
            Project X Test Release - Sprint 1</h1>
        <p class="lead">
            The release has been scheduled to the next Friday, January 31, 2013.</p>
        <a class="btn btn-large btn-success" href="#">More deatails</a>
    </div>
    <hr>
    <h2 class="centered">
        TO DO</h2>
    <div class="row-fluid marketing">
        <div class="span6">
            <h4 class="centered">
                Release Requirements <strong>15/25</strong></h4>
            <p>
                Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
        <div class="span6">
            <h4 class="centered">
                My Requirements <strong>3/5</strong></h4>
            <p>
                Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
    </div>
</div>